extends layout

block content
  #withoutZoom.span5
  #withZoom.span5

block append scripts
  != js('chart')
  script
    $(document).ready(function(){
      var url = '!{chart.url}';
      $('#withoutZoom').chart(url);
      $('#withZoom').chart(url, {zoomable: true});
    });