script(type="text/template", id="buildings-templ").
	<div class="page-header">
		<h1 class="header">{{header}}</h1>
	</div>

	{{#records}}
	<div class="row">
		{{name}} {{owner}} {{squareFootage}}sqft <a class="ajax-link" href="/building/{{_id}}/meters">{{meters.length}} meters</a>
	</div>
	{{/records}}

script(type="text/template", id="meters-templ").
	<div class="page-header">
		<h1 class="header">{{header}}</h1>
	</div>

	{{#records}}
	<div class="row">
		{{name}} {{utility}} <a class="ajax-link" href="/building/{{_id}}/meters">readings</a>
	</div>
	{{/records}}