!!! 5
html(lang='en')
  head
    title= title
    block styles
      != css('app')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/")
            span #{title}
    #content(class='container')
      block content

  block scripts
    != js('app')
