@import 'lib/bootstrap.css'
@import 'lib/bootstrap-responsive.css'

body
  padding-top: 60px

.error
  color: #B94A48
  border-color: #B94A48

#spinner
  height: 50px
  margin-left: 180px
  margin-top: 45px
  text-align: center

a.brand
  img
    margin-right: 10px
    vertical-align: text-top
    height: 24px
    width: 96px
  span
    margin-right: 5px
  em
    font-size: 15px

.modal
  display: none

.coordinates
  position: relative